
#circle {
  position: absolute;
  opacity: .1;
  top: -100px;
  right: -200px;
  width: 600px;
  height: 600px;
  z-index: -1;
  overflow: hidden;
}
#circle1 {
  position: absolute;
  opacity: .1;
  top: -200px;
  left: -300px;
  width: 600px;
  height: 600px;
  z-index: -1;
  overflow: hidden;
}
#circle2 {
  position: absolute;
  opacity: .1;
  bottom: -300px;
  width: 600px;
  height: 600px;
  z-index: -1;
  overflow: hidden;
}
#circle3 {
  position: absolute;
  opacity: .1;
  left: -300px;
  bottom: -200px;
  width: 600px;
  height: 600px;
  z-index: -1;
}
#gmail, #number,#facebook, #instagram, #github {
  width: 100%;
  max-width: 50px;
  height: auto;
  background-color: #b4a5e5;
  border-radius: 50px;
}

#pfp {
  width: 100%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  border-color: #e4f672;
  border-style: solid;
  border-width: 8px;
}

.info {
  display: flex;
  flex-direction: column;
}
.info h1{
  margin: 0;
  font-family: poppins;
  font-size: clamp(.4rem, 5vw, 3rem);
  color: #d6d2d2;
  text-align: left;
}
.Student {
  margin: 0;
  font-family: poppins;
  color: #ffffff;
  font-size: clamp(.4rem, 2vw, 1.4rem);
  text-align: left;
}

.info1 {
  color: #e4f672;
}
.Student1 {
  color: #d23737;
}
.btn {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:40px;
  font-family: poppins;
  display: inline;
  max-width: max-content;
  background-color: #d23737;
  color: #f7f6f6;
  font-size: clamp(.4rem, 10vw, 1.4rem);
  font-weight: bolder;
}
.Home {
  padding-top: 15vh;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  
}